[bumpversion]
current_version = 1.2.2
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:datapatch/__init__.py]
